<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ccScreenSpy.ccScreenSpySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="cc.Utility.ccEmailerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <cc.Utility.ccEmailerSettings>
            <setting name="smpt_server" serializeAs="String">
                <value></value>
            </setting>
            <setting name="smtp_user" serializeAs="String">
                <value>user@myserver.com</value>
            </setting>
            <setting name="smtp_password" serializeAs="String">
                <value>myserver_password</value>
            </setting>
            <setting name="smtp_port" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="use_ssl" serializeAs="String">
                <value>False</value>
            </setting>
        </cc.Utility.ccEmailerSettings>        
        <ccScreenSpy.ccScreenSpySettings>
            <setting name="to_address" serializeAs="String">
                <value>you@youremail.com</value>
            </setting>
            <setting name="from_address" serializeAs="String">
                <value>you@youremail.com</value>
            </setting>
            <setting name="capture_frequency" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="capture_directory" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="captures_per_email" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="capture_subject" serializeAs="String">
                <value>My Screen</value>
            </setting>
        </ccScreenSpy.ccScreenSpySettings>        
    </userSettings>
</configuration>