<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileSlinger.Emailer" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileSlinger.Emailer>            
            <setting name="email_to_address" serializeAs="String">
                <value>me@server.com</value>
            </setting>
            <setting name="email_from_address" serializeAs="String">
                <value>fromme@server.com</value>
            </setting>
            <setting name="smtp_server" serializeAs="String">
                <value>mail.server.com</value>
            </setting>
            <setting name="smtp_user" serializeAs="String">
                <value>user@server.com</value>
            </setting>            
            <setting name="smtp_password" serializeAs="String">
                <value>server_password</value>
            </setting>
        </FileSlinger.Emailer>
    </userSettings>
</configuration>