<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ccProjectTracker.ccProjectTracker" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ccProjectTracker.ccProjectTracker" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ccProjectTracker.ccProjectTracker>
            <setting name="DefaultTaskDescription" serializeAs="String">
                <value>General task</value>
            </setting>
            <setting name="RoundupMinutes" serializeAs="String">
                <value>1</value>
            </setting>
        </ccProjectTracker.ccProjectTracker>
    </userSettings>
    <applicationSettings>
        <ccProjectTracker.ccProjectTracker>
            <setting name="CheckIn_Interval" serializeAs="String">
                <value>15</value>
            </setting>
        </ccProjectTracker.ccProjectTracker>
    </applicationSettings>
</configuration>